@model Chatuniverse.Models.ForumViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "ForumPosts";
}

<h1>ForumPosts</h1>
<p class=" = text-muted">@TempData["login"]  </p>
@if (Context.Session.Get("Username") != null)
{
    <a asp-controller="User" asp-action="JoinForum" asp-route-id="@Model.Id">JoinForum</a>
    <a asp-controller="Post" asp-action="CreatePost" asp-route-id="@Model.Id">CreatePost</a>
}

@if (Model.Posts.Any())
{
    <table class="table table-hover table-bordered" id="ForumModel">
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        <a asp-controller="Comment" asp-action="GetComments" asp-route-id="@post.Id" asp-route-forumid="@Model.Id">
                            @post.Posttitel
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.Posts == null)
{
    <div class="Noposts">
        <h3>
            There are no Posts for @Model.ForumTitel
        </h3>
    </div>
}

